<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include('navbar') %>
    <h2>Add New Contribution</h2>
    <form action="/contribution/new" method="POST" class="form">
        <div class="addCategoryContainer">
            <label for="addContribution" class="labelText">Contribution</label>
            
            <input type="text" id="addContribution" name="addContribution" class="inputContainer">
        </div>
        <br>
        <div class="buttonContainer"><button type="submit" class="AddButton">Add</button></div>
    </form>
    <%- include('footer') %>
</body>
</html>