<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include('navbar') %>
    <h2>Add New Title</h2>
    <form action="/maxRating/new" method="POST">
        <div class="addCategoryContainer">
            <label for="addTitle" class="labelText">Title</label>
            <br>
            <input type="text" id="addTitle" name="addTitle" class="inputContainer">
        </div>
        <br>
        <div class="buttonContainer"><button type="submit" class="AddButton">Add</button></div>
    </form>
    <%- include('footer') %>
</body>
</html>