*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.githubIcon {
    width: 1rem;
    height: 1rem;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
* {
    /* border:1px dotted red; */
}
a.githubLink {
    color:rgb(73, 73, 73);
    text-decoration: none;
}
a {
    /* color: #e8f0fe; */
    text-decoration: none;
}
.footerText {
    color: rgb(73, 73, 73);
    display: flex;
}
.githubLink {
    display: flex;
    align-items: center;
    text-align: center;
}
footer {

    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

    margin-top: auto;
    margin-bottom: 0.6vw;
}
nav {
    border: 5px solid white;
    border-radius: 8px;
    /* width: 100%; */
    margin: 1rem 1rem;
    color: white;
    padding: 1rem 1rem;
    font-weight: bold;
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    place-items: center;
    background-color: #1a73e8; 
    border-color: #88acec; 
}

.programmer {
    outline: 1px solid black;
}

h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:xx-large;
    display: flex;
    justify-content: center;
}

.addButton {
    height: 3vw;
    width: 16vw;
    border-radius: 4px;
    border: none;
    font-family:serif;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
    background-color:#88acec;
    margin-top: 2vw;
    color: white;
}

.buttonContainer {
    display: grid;
    place-items: center;
    margin: 2vw 0;
}

.categoriesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.categoryContainer {
    width: 40%;
    height: 30px;
    outline: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 11px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

.manipulateButtons {
    display: flex;
    gap: 4px;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: white;
}


/* .inputContainer {
    width: 20vw;
} */

input {
    width: 20vw;
}

.addCategoryContainer {
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vw;
}


.AddButton {
    background-color: #88acec;
    width: 8vw;
    height: 2.6vw;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.inputsContainer {
    width: 20vw;
    margin: 3vw auto;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

select {
    width: 20vw;
}

#contribution {
    height: 2vw;
}

